@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Leaflet marker fixes */
.custom-carpark-pin {
  background: transparent;
  border: none;
}

.user-pulse-marker {
  background: transparent;
  border: none;
}

